* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
@font-face {
    font-family: 'Pixel';
    src: url('assets/fonts/Pixelmania.ttf') format('truetype');
}