.create-lobby {
    width: 100%;
    height: 100vh;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.create-lobby h1 {
    font-size: 50px;
    color: #fff;
}
.lobby-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.lobby-info .player-select,
.lobby-info .publicity-select {
    width: 600px;
    background: transparent;
    border: 2px solid #424242;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
}
.player-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-size: 16px;
    transition: 0.2s;
}
.player-select-header:hover {
    background: #202020;
}
.player-selector-dropdown {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 0.5s;
}
.player-selector-dropdown.open {
    max-height: 1000px;
}
.player-selector-dropdown button {
    width: 100%;
    padding: 20px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    transition: 0.2s;
}
.player-selector-dropdown button:hover {
    background: #202020;
}
/* ========================================================= */
.publicity-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-size: 16px;
    transition: 0.2s;
}
.publicity-select-header:hover {
    background: #202020;
}
.publicity-selector-dropdown {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: 0.5s;
}
.publicity-selector-dropdown.open {
    max-height: 1000px;
}
.publicity-selector-dropdown button {
    width: 100%;
    padding: 20px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    transition: 0.2s;
}
.publicity-selector-dropdown button:hover {
    background: #202020;
}
.lobby-info .down-arrow {
    width: 20px;
    height: 20px;
    color: #fff;
}
.create-lobby-btn {
    width: 600px;
    height: 60px;
    color: #fff;
    border: none;
    background: #00a6ff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.create-lobby-btn:hover {
    background: #0088d1;
}
.create-lobby .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    background: #242424;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.create-lobby .back-btn .arrow-left {
    width: 24px;
    height: 24px;
    color: #fff;
}
.create-lobby .back-btn:hover {
    background: #323232;
}