.game-page-container {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
    background: #323232;
}
.stage-container {
    width: 100%;
    height: 600px;
    background: #606060;
    position: absolute;
    top: 50%;
    border-top: 5px solid gray;
}
.entities-container {
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.players-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.enemies-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.enemy-container {
    position: relative;
    image-rendering: pixelated;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.enemy {
    position: relative;
    width: calc(16px * var(--pixel-size-enemy));
    height: calc(16px * var(--pixel-size-enemy));
    image-rendering: pixelated;
    overflow: hidden;
}
.enemy-spritesheet {
    position: absolute;
    bottom: 0;
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(64px * var(--pixel-size-enemy));
}
.hp-container {
    width: 150px;
    height: 8px;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
}
.hp {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 10px;
}
.hp p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -38%);
    top: 0;
    color: #fff;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
    font-weight: 900;
}
.game-page-container .cards-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 40vh;
}
.cards-container-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: #000;
    border-top: 5px solid #242424;
    border-bottom: 5px solid #242424;
    padding: 40px 0;
    overflow: auto;
}
.cards-container-inner-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    height: 100%;
}
.action-points-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-points {
    width: 100px;
    height: 100px;
    background: #006091;
    border: 10px solid #00a6ff;
    border-radius: 5px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #00a6ff;
}
.action-points p {
    transform: rotate(-45deg);
    font-size: 36px;
    color: #fff;
}
.end-turn-container {
    width: 200px;
}
.end-turn-container button {
    width: 200px;
    height: 60px;
    background: #006091;
    border: 10px solid #00a6ff;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.end-turn-container button:hover {
    box-shadow: 0 0 20px #00a6ff;
    border-color: #4FC4FF;
}
:root {
    --pixel-size-enemy: 6;
    --pixel-size-character: 6;
}
@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}
@media (max-width: 1200px) {
    .characters-container {
        left: 10%;
    }
    .enemies-container {
        right: 10%;
    }
}
@media (max-width: 800px) {
    :root {
        --pixel-size-enemy: 3;
        --pixel-size-character: 3;
    }
    .hp-container {
        width: 80px;
    }
    .hp p {
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .stage-container {
        top: 40%;
    }
    .entities-container {
        flex-direction: column;
        height: 40vh;
    }
    .players-container {
        bottom: 60%;
    }
    .enemies-container {
        bottom: 60%;
    }
    .game-page-container .cards-container {
        height: 50vh;
    }
    .cards-container-inner {
        flex-direction: column;
        justify-content: center;
    }
    .hp-container {
        width: 50px;
    }
    .hp p {
        font-size: 12px;
        -webkit-text-stroke: 0px white;
    }
}