.game-page-container {
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, #001733, #0050AD);
    display: flex;
    justify-content: center;
    align-items: center;
}
.players-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.player-hp-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 240px;
    height: 40px;
    overflow: hidden;
    padding: 3px;
    border: 3px solid #000;
}
.player-hp-background {
    width: 100%;
    height: 100%;
}
.player-hp {
    width: 100%;
    height: 100%;
    background: #31A500;
    display: flex;
    justify-content: center;
    align-items: end;
}
.player-hp p {
    position: absolute;
    left: 50%;
    transform: translate(-50% ,-50%);
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 1;
}
.enemies-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.enemy-container {
    position: relative;
    image-rendering: pixelated;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.enemy {
    position: relative;
    width: 200px;
    height: 200px;
    background: black;
    border: 5px solid #242424;
    border-radius: 50%;
    animation: float 1.5s ease-in-out infinite;
}
.shadow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 30px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1), transparent 70%);
    border-radius: 50%;
    filter: blur(2px);
    animation: shadowPulse 1.5s ease-in-out infinite;
}
.enemy-hp-container {
    width: 200px;
    height: 35px;
    background: transparent;
    overflow: hidden;
    padding: 3px;
    border: 3px solid #000;
}
.enemy-hp-background {
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    position: relative;
}
.enemy-hp {
    width: 100%;
    height: 100%;
    background: #FF0C00;
    display: flex;
    justify-content: center;
    align-items: end;
}
.enemy-hp p {
    position: absolute;
    left: 50%;
    transform: translate(-50% ,-50%);
    top: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 1;
}
.game-page-container .cards-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    height: 40vh;
}
.card-carousel-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.cards-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 5px 0 5px; /* Adds padding inside the scroll area */
    box-sizing: border-box; /* Ensures padding doesn't overflow */
    align-items: end; /* Center cards vertically */
    gap: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 100;
}
.cards-carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.action-points-container {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-points {
    width: 100px;
    height: 100px;
    background: #006091;
    border: 8px solid #00a6ff;
    border-radius: 5px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #00a6ff;
}
.action-points p {
    transform: rotate(-45deg);
    font-size: 30px;
    color: #fff;
}
.end-turn-container {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-turn-btn {
    width: 100px;
    height: 100px;
    background: #006091;
    border: 8px solid #00a6ff;
    border-radius: 5px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #00a6ff;
    cursor: pointer;
    transition: 0.2s;
}
.end-turn-btn p {
    transform: rotate(-45deg);
    font-size: 16px;
    color: #fff;
}
.end-turn-container button:hover {
    box-shadow: 0 0 20px #00a6ff;
    border-color: #4FC4FF;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
@keyframes shadowPulse {
    0%, 100% {
        transform: translateX(-50%) scale(0.9);
        opacity: 0.8;
    }
    50% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}
@keyframes shadowShake {
    0%, 100% {
        opacity: 0.8;
        transform: translateX(-50%) scale(0.9);
    }
    50% {
        opacity: 0.8;
        transform: translateX(-50%) scale(0.9);
    }
}
@keyframes shake {
    0%   { transform: translate(0, 0); }
    25%  { transform: translate(-5px, 0); }
    50%  { transform: translate(5px, 0); }
    75%  { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

.shake {
    animation: shake 0.2s ease;
}
.shadowShake {
    animation: shadowShake 0.2s ease;
}
@media (max-width: 1415px) {
    .action-points-container {
        position: absolute;
        top: -40px;
    }
    .end-turn-container {
        position: absolute;
        top: -40px;
    }
}
@media (max-width: 1200px) {
    .characters-container {
        left: 10%;
    }
    .enemies-container {
        right: 10%;
    }
}
@media (max-width: 500px) {
    .stage-container {
        top: 40%;
    }
    .players-container {
        bottom: 60%;
    }
    .game-page-container .cards-container {
        height: 30vh;
    }
    .cards-container-inner {
        justify-content: center;
    }
    .enemy-hp-container {
        width: 200px;
        height: 35px;
        background: transparent;
        overflow: hidden;
    }
    .action-points-container {
        left: 0;
        top: -80px;
    }
    .action-points {
        width: 80px;
        height: 80px;
    }
    .action-points p {
        font-size: 24px;
    }
    .end-turn-container {
        right: 0;
        top: -80px;
    }
    .end-turn-btn {
        width: 80px;
        height: 80px;
    }
}