.game-page-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #323232;
}
.stage-container {
    width: 100%;
    height: 600px;
    background: #606060;
    position: absolute;
    top: 50%;
    border-top: 5px solid gray;
}
.characters-container {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 50%;
    left: 25%;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;
}
.character-container {
    position: relative;
    image-rendering: pixelated;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.character {
    position: relative;
    width: calc(16px * var(--pixel-size-character));
    height: calc(22px * var(--pixel-size-character));
    image-rendering: pixelated;
    overflow: hidden;
}
.character-spritesheet {
    position: absolute;
    bottom: 0;
    animation: moveSpritesheet 0.8s steps(4) infinite;
    width: calc(64px * var(--pixel-size-character));
}
.enemies-container {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 50%;
    right: 25%;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
}
.enemy-container {
    position: relative;
    image-rendering: pixelated;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.enemy {
    position: relative;
    width: calc(16px * var(--pixel-size-enemy));
    height: calc(16px * var(--pixel-size-enemy));
    image-rendering: pixelated;
    overflow: hidden;
}
.enemy-spritesheet {
    position: absolute;
    bottom: 0;
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(64px * var(--pixel-size-enemy));
}
.hp-container {
    width: 150px;
    height: 8px;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
}
.hp {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 10px;
}
.hp p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -38%);
    top: 0;
    color: #fff;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
    font-family: sans-serif;
    font-weight: 900;
}
.game-page-container .cards-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cards-container-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #000;
    border-top: 5px solid #242424;
    border-bottom: 5px solid #242424;
    padding: 20px;
}
.cards-container-inner-inner {
    display: flex;
    gap: 10px;
}
.action-points-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-points {
    width: 100px;
    height: 100px;
    background: #006091;
    border: 10px solid #00a6ff;
    border-radius: 5px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #00a6ff;
}
.action-points p {
    transform: rotate(-45deg);
    font-size: 36px;
    color: #fff;
}
.end-turn-container {
    width: 200px;
}
.end-turn-container button {
    width: 200px;
    height: 60px;
    background: #006091;
    border: 10px solid #00a6ff;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.end-turn-container button:hover {
    box-shadow: 0 0 20px #00a6ff;
    border-color: #4FC4FF;
}
:root {
    --pixel-size-enemy: 6;
    --pixel-size-character: 6;
}
@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px, 0, 0)
    }
    to {
        transform: translate3d(-100%, 0, 0)
    }
}