.join-lobby {
    width: 100%;
    height: 100vh;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.join-lobby h1 {
    font-family: "Monstserrat", sans-serif;
    font-size: 50px;
    color: #fff;
}
.join-lobby input {
    width: 600px;
    height: 60px;
    background: #141414;
    outline: none;
    border: 2px solid #424242;
    border-radius: 5px;
    font-size: 30px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
}
.join-lobby input:hover {
    border-color: #525252;
}
.join-lobby input:focus {
    border-color: #fff;
}
.join-lobby .join-btn {
    width: 600px;
    height: 60px;
    color: #fff;
    border: none;
    background: #00a6ff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.join-lobby .join-btn:not(:disabled):hover {
    background: #0088d1;
}
.join-lobby .join-btn:disabled {
    opacity: 0.6;
    cursor: auto;
}
.join-lobby .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    background: #242424;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.join-lobby .back-btn .arrow-left {
    width: 24px;
    height: 24px;
    color: #fff;
}
.join-lobby .back-btn:hover {
    background: #323232;
}