.card {
    aspect-ratio: 1 / 1.25;
    height: 70%;
    background: rgb(50, 50, 255);
    border: 5px solid #006AFF;
    background: linear-gradient(to bottom, #003377, #005DD8);
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.card:hover {
    border-color: #fff;
    transform: translateY(-10px);
}
.title-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    top: 10%;
    font-size: 14px;
}
.img-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.img-container img {
    width: 60%;
    image-rendering: pixelated;
    filter:
            drop-shadow(-1px 0 0 white)
            drop-shadow(1px 0 0 white)
            drop-shadow(0 -1px 0 white)
            drop-shadow(0 1px 0 white);
}
.cost-container {
    position: absolute;
    width: 18%;
    height: 14%;
    background: #fff;
    border: 5px solid #006AFF;
    top: -2px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 100;
}
.cost-inner {
    width: 100%;
    height: 100%;
    background: #006091;
    border: 3px solid #00a6ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cost-inner p {
    line-height: 1;
    color: #fff;
    transform: rotate(-45deg);
    font-size: 14px;
}
.card-description-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.card-description {
    color: #fff;
    line-height: 1;
    font-size: 14px;
    text-align: center;
}
@media (max-width: 500px) {
    .card {
        height: 90%;
    }
    .const-inner p {
        font-size: 12px;
    }
    .title-container {
        font-size: 12px;
    }
    .card-description {
        font-size: 12px;
    }
    .card:hover {
        transform: translateY(0px);
        border-color: #006AFF;
    }
}