.card {
    aspect-ratio: 1 / 1.25;
    height: 100%;
    min-width: 160px;
    min-height: 200px;
    max-width: 220px;
    max-height: 280px;
    background: linear-gradient(to bottom, #1c3587, #3867ff);
    border: 5px solid #547cff;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    /*animation: floatUp 0.4s ease forwards;*/
    transition: transform 0.2s, border-color 0.2s, box-shadow 0.2s;
    will-change: transform;
    z-index: 100;
    font-size: 0.8vh;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-10px);
    border-color: #fff;
}
.card:hover .cost-container {
    border-color: #fff;
    background: #fff;
}
.cost-container {
    position: absolute;
    top: -2.5px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14%;
    aspect-ratio: 1 / 1;
    background: #808080;
    border-radius: 3px;
    color: #fff;
    border: 4px solid #547cff;
    z-index: 2;
    transition: 0.3s;
}
.cost-container-inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #00a6ff;
    background: #006091;
    border-radius: 3px;
}
.cost-container p {
    transform: rotate(-45deg);
    font-size: 1.6em;
}
.card-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.card-img-container img {
    width: 100%;
    image-rendering: pixelated;
    filter:
            drop-shadow(-1px 0 0 white)
            drop-shadow(1px 0 0 white)
            drop-shadow(0 -1px 0 white)
            drop-shadow(0 1px 0 white);
}
.card-name-container {
    position: absolute;
    top: 12%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-name {
    color: #fff;
    font-size: 1.6em;
    line-height: 1;
}
.card-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    padding: 10px;
    position: absolute;
    bottom: 0;
}
.card-description {
    color: #fff;
    text-align: center;
    font-size: 1.6em;
}
@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 830px) {
    .card {
        height: 200px;
    }
}