@font-face {
    font-family: "Montserrat";
}
.landing-page {
    width: 100%;
    height: 100vh;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    max-width: 600px;
    width: 100%;
}
.menu .options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
}
.menu h1 {
    color: #47bfff;
    font-weight: 100;
    font-family: "Pixel", sans-serif;
    font-size: clamp(30px, 8vw, 80px);
}
.menu .options .join-btn,
.menu .options .create-btn,
.menu .options .cards-btn {
    border: none;
    background: #00a6ff;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}
.menu .options .join-btn:hover,
.menu .options .create-btn:hover,
.menu .options .cards-btn:hover {
    background: #0088d1;
}
.options a {
    display: block;
    width: 100%;
}
.button-wrapper {
    width: 100%;
    max-width: 600px;
    height: 70px;
    background: #fff;
    padding: 4px;
    border: 4px solid #000;
    transition: 0.2s;
    cursor: pointer;
}
.button {
    background: rgb(50, 50, 255);
    border: 5px solid #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}
.button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #fff;
}
.button-light {
    width: 100%;
    height: 60%;
    background: rgba(255, 255, 255, 0.3);
}
.button-wrapper:hover {
    background: gold;
}